
<%= render "header_page" %>

<%= render "features_section" %>

<%= render "testimonial_section" %>

<%= render "preview_section" %>

<div class="py-5 bg-light">
<div class="container px-5 my-5">
<h1> Hello </h1>
<%= link_to "Home", root_path, class: "btn btn-primary btn-sm"  %>

<button type="button" 
        class="btn btn-lg btn-danger" 
        data-bs-toggle="popover" 
        title="Popover title" 
        data-bs-content="Amazing content, right ?">
        Click to toggle popover
</button>  
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  <p> Hello <%= current_user.email %> </p> 
<% else %> 
  <p> Not User </p>
<% end %>

</div> 
</div>