
    <!-- Carousel Start -->
    <%= render "carousel" %>
    <!-- Carousel End -->


    <!-- About Start -->
    <%= render "about_section" %>
    <!-- About End -->


    <!-- Feature Start -->
     <%= render "feature_section" %>
    <!-- Feature End -->


    <!-- Product Start -->
    <%= render "product_section" %>
    <!-- Product End -->


    <!-- Firm Visit Start -->
    <%= render "firm_visit_section" %>
    <!-- Firm Visit End -->


    <!-- Testimonial Start -->
    <%= render "testimonial_section" %>
    <!-- Testimonial End -->


    <!-- Blog Start -->
    <%= render "blog_posts_section" %>
    <!-- Blog End -->

   

    <div class="container-xxl py-5">
        <h1>Home#index</h1>

 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= link_to "Home", root_path, class: "btn btn-primary btn-sm"  %>

<button type="button" 
        class="btn btn-lg btn-danger" 
        data-bs-toggle="popover" 
        title="Popover title" 
        data-bs-content="Amazing content, right ?">
        Click to toggle popover
</button>  

<% if user_signed_in? %>
  <p> Hello <%= current_user.email %> </p> 
<% else %> 
  <p> Not User </p>
<% end %>
    </div>
   